aside {
    min-height: 100%;
    background-color: rgba(6, 38, 83, 0.17);
    min-width: 420px;
    padding: 2rem 1rem;
    position: fixed;
}

.sidebar-collapser {
    transition: left, right, .3s;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #535bf2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.sidebar-collapser:hover {
    color: #fff;
    background-color: #747bff;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 0 0 4rem;
}

.sidebar-header img {
    width: 4rem;
}

.sidebar-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 10px;
}

.sidebar-control {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-control li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    cursor: pointer;
    transition: 200ms ease-in;
}

.sidebar-control li:hover {
    background-color: rgba(116, 123, 255, 0.3);
}

.sidebar-content {
    flex: 1;
}

.active {
    background-color: #747bff!important;
}