.login {
    height: 100vh;
    position: relative;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    padding: 3rem 4rem;
    border-radius: 14px;
    background-color: rgba(54, 54, 54, 0.28);
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

p {
    color: grey;
    margin-bottom: 1rem;
}

.login-password-router {
    text-align: center;
    margin: 1rem 0 0;
}


.input {
    width: 100%;
    border: 2px solid grey;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 .5em;
}

input {
    background: none;
    border: none;
    height: 100%;
    flex: 1;
    padding: .75em 1em;
    color: #fff;
    outline: none;
}